body{
    background-color: white;
    color: black;
    font-family: sans-serif;
    transition: backgraund-color 0.3s, color 0.3s;
}

body[data-theme='dark']{
    background-color: black;
    color: white;
}

body [data-theme= "dark"] button {
    background-color: #333;
    color: #fff;
}

.Menybar {
    display: flex;
    background-color: rgb(22, 155, 144);
    border-radius: 10px;
} 

.TextBar {
    display: contents;
} 

.mudus {
    display: flex;
    background-color: rgb(171, 226, 222);
    padding: 0.5rem 1rem;
    margin: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 1750px;
    margin-top: -36px;
}

button {
    padding: 0.5rem 1rem;
    margin: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(171, 226, 222);
    font-size: 1rem;
    margin-top: -60px;
} 
