body{
    background-color: rgb(208, 230, 231);
}

.Menybar {
    display: flex;
    background-color: rgb(22, 155, 144);
    border-radius: 10px;
} 

.TextBar {
    display: contents;
    color: rgb(0, 0, 0);
} 

.container {
    display: flex;
} 

.Box {
    background-color: rgb(230, 209, 183);
    padding: 40px;
    margin: 40px;
} 

.start {
    justify-content: flex-start;
} 
